/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #bee3f8;
}
.table > thead > tr > th {
  border-bottom: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}

h1 {
  font-weight: bold;
  color: #2c5282;
}
h1,
h2 {
  text-align: center;
}
* {
  box-sizing: border-box;
}

a.button {
  /* -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; */

  /* text-decoration: none; */
  /* color: initial; */
  float: right;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper > * {
  border: 2px solid #bee3f8;
  background-color: #ebf8ff;
  border-radius: 5px;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

nav ul a {
  color: initial;
  text-decoration: none;
}

nav ul a:hover {
  color: #2b6cb0;
  font-weight: bolder;
  text-decoration: none;
}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     content"
      "nav     content"
      "sidebar sidebar"
      "footer  footer";
  }
  nav ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content sidebar"
      "footer footer  footer";
  }
  nav ul {
    flex-direction: column;
  }
}
